body {
    background-color:paleturquoise;
}
.nav-link.active {
    color: black !important; /* Active color */
    font-weight: bold;
    text-decoration: underline;
}

#NavBar {
    background-color: darkgray;
}
