
@{
    ViewBag.Title = "GuestServiceView";
}
<div class=" text-center text-secondary">
    <h2 class="mb-3">Welcome To JEKE HIGH</h2>
    <p class="mb-4">JEKE MAARN Education</p>
</div>

<div class="text-center text-secondary">
    <h3>How can we help you?</h3>
</div>

<div class="align-content-center">

    <div class="row">
        <div class="col-md-6 content-box">
            <a href="@Url.Action("BookingView","User")" style="text-decoration:none;color:inherit">
                <div class="card shadow text-secondary text-center">
                    <h4>Make Booking</h4>
                    <p>Please choose make booking if you want to make a booking for your child to come and write admission tests.</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 content-box">
            <a href="@Url.Action("About","Home")" style="text-decoration:none;color:inherit">
                <div class="card shadow text-secondary text-center">
                    <h4>About JEKE HIGH</h4>
                    <p>Please choose About JEKE HIGH if you want to know our story as a school and our members.</p>
                </div>
            </a>
        </div>
    </div>

</div>